#cv .section {

  width: 630px;
  margin: 0;

  .project {
    overflow: hidden;
    margin: 20px 0;
  }

  .project.job {
    h4 { color: #111; font-weight: bold }
    .short { color: #111 }
  }

  h3 {
    font-weight: normal;
    font-size: 24px;
    color: #888;
    text-transform: uppercase;
    margin: 80px 0 20px 120px;
  }

  h4 {
    margin: 0 0 5px 120px;
    color: #333;
    font-size: 24px;
    font-weight: normal;
  }
  
  .short {
    margin: 0 0 0 120px;
    color: #555;
    font-size: 14px;
  }

  .date {
    float: left;
    width: 100px;
    font-size: 12px;
    text-align: right;
    line-height: 37px;
    color: #333;
  }

  .skills {
    margin-left: 120px;
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 5px;
    }
  }
}
